header {
    text-align: left;
    font-size: 20px;
    color: purple;
    padding: 20px;
}

.time {
    float: right;
}

.container {
    max-width: 500px;
    text-align: center;
    
}

.hide {
    display: none;
}

.choices {
    text-align: left;
}

button {
    color: white;
    background-color: purple;
}